/*-------------
 Основные
 -------------*/

 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

 html{
 	font-family: 'Open Sans';
 	font-size: 62.5%; /* font-size 1em = 10px */
 	color: #555;
 }

 body{
 	font-size: 1.6em; /* 1.6em = 16px */

 }

 ul, nav{
 	list-style: none;
 }

 a{
 	text-decoration: none;
 	color: inherit;
 	cursor: pointer;
 	opacity: 0.9;
 }

 .list{
 	list-style-type: disc;
 }

 .reports-list{
 	list-style-type: disc;
 }

 a:hover{
 	opacity: 1;
 }

 button{
 	color: #fff;
 	border-radius: 0.250em; /* 4px */
 	text-transform: uppercase;
 	background-color: #2196F3;
 	font-weight: 800;
 	text-align: center;
 	cursor: pointer;
 	border: 0;
 }

 hr{
 	width: 9.375em; /*150px*/ 
 	height: 0.125em; /*2px*/
 	background-color: #2196F3;
 	border: 0;
 	margin-bottom: 5em; /* 80px*/
 }

 section{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding: 55px 6.250em; /* 125px 100px*/ 
 }

 @media (max-width: 1000px){
 	section{
 		padding: 6.250em 3.125em; /*100px 50px*/
 	}
 }

 @media (max-width: 600px){
 	section{
 		padding: 5em 1.875em; /*80px 30px */
 	}
 }

 section h3.title{
 	color: #000;
 	text-transform: uppercase; 
 	font: bold 2em 'Open Sans', sans-serif; /* 32px */
 	margin-bottom: 2.188em; /* 35px */
 	text-align: center;
 }

 section p{
 	max-width: 60em; /*960px*/
 	text-align: left;
 	margin-bottom: 2.188em; /* 35px*/
 	/*padding: 0 20px;*/
 	/*line-height: 2;*/
 }

 ul.grid{
 	width: 100%;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 }


/*-------------
 	Header
 	-------------*/

 	 	header {
 		padding-top: 2.188em;
 		background-image: url(../img/1.jpg);
 		background-repeat: no-repeat;
 		position: relative;
 	}

 	header:before {
 		content: '';
 		display: block;
 		position: absolute;
 		top: 0;
 		left: 0;
 		width: 100%;
 		height: 100%;
 		background: rgba(0,0,0,0.3);
 	}

 	.header{
 		top: 0;
 		left: 0;
 		z-index: 10;
 		max-width: 1280px;
 		display: flex;
 		justify-content: space-between;
 		align-items: center;
 		color: #fff;
 		margin: 0 auto; 
 	}

 	.header-brand{
 		font-family: 'Quicksand', sans-serif;
 		font-size: 2.188em; /* 35px */
 	}

 	.header-nav{
 		display: flex;
 		font-size: 1.5em; /* 24px*/
 	}

 	.header-nav-list{
 		margin: 0 0.938em; /* 15px */
 	}

 	.header-nav-list:nth-child (1n+2){
 		margin-left: 5px;
 	}

 	.list-li{
 		padding: 0px;
 	}

 	@media (max-width: 1000px){
 		.header{
 			padding: 0.938em 3.125em; /* 20px 50px */
 		}
 	}

 	@media (max-width: 700px){
 		.header{
 			flex-direction: column;		
 		}
 	}

 	.button-gr{
 		background-image: url("assets/img/Ellipse.png");
 	}

 	.button-wh{
 		background-image: url("assets/img/Group.png");
 	}

/*----------------
 header-text Section
 ----------------*/
 .header-text{
 	position: relative;
 	justify-content: center;
 	min-height: 100vh;
 	color: #fff;
 	text-align: center;
 }

 .tagline{
 	font: bold 3.750em 'Open Sans', sans-serif; /* 60px */
 	margin-bottom: 0.938em; /* 15px */
 }

 .tagline-text{
 	font: normal 1.750em 'Open Sans', sans-serif; /* 28px */
 	margin-bottom: 2.5em; /* 40px */
 }

 .header-text-button{
 	padding: 1.250em 2.875em; /* 20px 46px  */
 }

 @media (max-width: 800px){
 	.header-text{
 		min-height: 37.5em; /* 600px */
 	}
 	.tagline{
 		font-size: 3em; /* 48px */
 	}
 	.tagline-text{
 		font-size: 1.5em; /* 24px */
 	}
 	.header-text .btn{
 		padding: 0.938em 2.5em; /* 15px 40px */
 	}
 }

/*--------------------
Reports Section
---------------------*/
.mar {
	margin-top: 97px;
}

.оur-work{
	background-color: #fff;
}

.oper-text{
	max-width: 60em; /* 960px */
	text-align: left;
	margin-bottom: 0.625em; /* 10px */
	/*padding: 0 20px;*/
	/*line-height: 2;*/
}

.oper-text-p{
	max-width: 60em; /* 960px */
	text-align: left;
	margin-bottom: 0px;
}

.reports .grid li{
	height: 21.875em; /* 350px */
	border-radius: 0.188em; /* 3px */
	background-clip: content-box;
	background-size: cover;
	background-position: center;
	background-color: #333;
}


.reports .grid li.small{
	width: calc(40% - 40px);
	margin: 20px;

}

.reports .grid li.large{
	width: calc(60% - 40px);
	margin: 20px;
}

.reports-text{
	margin-bottom: 0.625em; /* 10px */
}

.job{
	max-width: 58.125em; /* 930px */
}

@media (max-width: 1000px){
	.reports .grid li.small,
	.reports .grid li.large{
		flex-basis: 100%;
	}
}

.list{
	max-width: 58.125em; /* 850px */
	text-align: left;
	margin-bottom: 2.188em; /* 35px */
	/*padding: 0 20px;*/
	/*line-height: 2;*/
}

.reports-list{
	max-width: 58.125em; /* 850px */
	text-align: left;
	/*padding: 0 20px;*/
	/*line-height: 2;*/
}

/*----------------------
 	certificate Section
 	----------------------*/

 	.certificate {
 		margin-top: 20px;
 	}

 /*	.certificate .grid li{
 		flex-basis: 33%;
 		}*/

 		.certificate .grid li{
 			margin-right: 20px;
 			margin-left: 20px;
 		}



 		.name{
 			color: #000;
 			font-size: 1.125em; /* 18px */
 			font-weight: 300;
 			font-style: italic;
 			margin-bottom: 25px;
 		}


 		@media (max-width: 1000px){
 			.certificate .grid li{

 				margin-bottom: 0.625em; /* 10px */
 			}
 			.certificate .grid li:last-child{
 				margin-bottom: 0;
 			}
 		}

 		@media (max-width: 600px){
 			.certificate .grid li{
 				flex-basis: 100%;
 			}
 		}

/*---------------------
 	footer Section
 	---------------------*/
 	.footer{
 		background-image: url(assets/img/12.jpg) repeat-y;
 	}

 	.telefon{
 		float: left;
 	}

 	.color{
 		font: normal 1em sans-serif; /* 16px */
 		color: #fff;
 	}

 	.footer-form{
 		display: flex;
 		align-items: center;
 		justify-content: center;
 		flex-wrap: wrap;
 		max-width: 50em; /* 800px */
 		width: 80%;
 	}

 	.input{
 		padding: 0.938em; /* 15px */
 		flex: 1;
 		margin-right: 1.875em; /* 30px */
 		font-size: 1.125em; /* 18px */
 		color: #555;
 	}

 	.footer-form .btn{
 		padding: 1.125em 2.625em; /* 18px 42px */
 	}


 	@media (max-width: 800px){
 		.input{
 			flex-basis: 100%;
 			margin: 0 0 1.250em 0; /* 20px */
 		}
 	}

/*-------------
 	Footer
 	-------------*/
 	.ser-text ol li , .master ol li {
 		margin-top: 0.313em; /* 5px */
 		margin-left: 1.250em; /* 20px */
 	}
 	.name {
 		margin-left: 5em; /* 80px */
 	}

 	.footer {
 		position: relative;
 		justify-content: center;
 		min-height: 100vh;
 		color: #fff;
 		text-align: center;
 	}

 	footer{
 		display: flex;
 		flex-direction: column;
 		align-items: center;
 		padding: 7.813em 6.250em; /* 125px 100px*/ 
 	}

 	@media (max-width: 1000px){
 		footer{
 			padding: 6.250em 3.125em; /*100px 50px*/
 		}
 	}

 	@media (max-width: 600px){
 		footer{
 			padding: 5em 1.875em; /*80px 30px */
 		}
 	}

 	#flex{
 		width: 100%;
 		display: flex;
 		flex-wrap: wrap;
 		justify-content:space-around;
 		margin-top: 11.250em; /* 180px */
 	}

 	.pod{
 		color: #fff;
 		text-transform: capitalize;
 		font: bold 2em 'Open Sans', sans-serif; /* 32px */
 		margin-bottom: 2.188em; /* 35px */
 		text-align: center;
 	}

 	@media (max-width: 583px){
 		.header-nav{
 			display: flex;
 			font-size: 1.125em; /* 18px*/
 		}
 	}



 	.grid p {
 		margin-top: 0.625em; /* 10px */
 		margin-left: 6.250em; /* 100px */
 	}

 	.button-buy{
 		padding: 0.625em 2.5em; /* 10px 40px  */
 		margin-left: 6em;
 	}

 	@media (max-width: 1204px){
 		.ser-text-lep{
 			margin-top: 2.5em; /* 40px */
 		}
 	}

 	@media (max-width: 731px){
 		.ser-text-mix{
 			margin-top: 2.5em; /* 40px */
 		}
 	}



 	@media (max-width: 1440px){
 		.certificate .grid li{
 			
 			margin-bottom: 10px;
 		}
 	}

 	.master p{
 		margin-left: 1.250em; /* 20px */
 		margin-bottom: 0px;
 	}

 	.ser-text h4{
 		margin-left: 0;
 	}

 	.footer .grid-footer ul li {
 		list-style-type: none;
 		padding-top: 10px;
 	}

 	.footer .grid-footer ul  {
 		margin-top: 23px;
 	}


 	ul.grid-footer {
 		width: 100%;
 		display: flex;
 		flex-wrap: wrap;
 		justify-content: space-around;
 	}

 	.hr  {
 		width: 85px; /*150px*/ 
 		height: 0.125em; /*2px*/
 		background-color: fff;
 		border: 0;
 	}

 	@media (max-width: 832px){
 		.mail{
 			margin-top: 2.5em; /* 40px */
 		}
 	}

 	@media (max-width: 548px){
 		.ser-text-7{
 			margin-top: 2.5em; /* 40px */
 		}
 	}

 	@media (max-width: 463px){
 		.header-nav{
 			font-size: 16px; /* 18px */

 		}
 	}

 	.header-nav {
 		white-space: nowrap;
 	}

 	.oper-text-margin{
 		margin-top: 10px;
 	}


 	.ser-text{
 		background-image: "assets/img/карта.png" width="75px" height="59px";
 	}

 	.certificate-text:after{
 		content: " ";  
 		top: 0;
 		left: 0;
 		width: 9.375em; /*150px*/ 
 		height: 0.125em; /*2px*/
 		background-color: #2196F3;
 		border: 0;
 		display: block;
 		margin: 0 auto 5em auto;
 	}

 	.map:before {  
 		content: " ";  
 		text-align: center;  
 		bottom: 40px;  
 		background: url(../img/карта.png);  
 		display: block;  
 		height: 59px;  
 		width: 75px;
 		margin: 0 auto;
 	}  

 	.phone:before {  
 		content: " ";  
 		text-align: center;  
 		bottom: 40px;  
 		background: url(../img/телефон.png);  
 		display: block;  
 		height: 59px;  
 		width: 35px;
 		margin: 0 auto;
 	}  

 	.mail:before {  
 		content: " ";  
 		text-align: center;  
 		bottom: 40px;  
 		background: url(../img/почта.png);  
 		display: block;  
 		height: 65px;  
 		width: 87px;
 		margin: 0 auto;
 	}  


 	footer {
 		background-image: url(../img/12.jpg);
 		background-repeat: no-repeat;
 	}


@media (max-width: 865px){
 		.ser-text-lep-sum{
 			margin-top: 2.5em; /* 40px */
 		}
 	}

@media (max-width: 507){
 		.phone{
 			margin-top: 0.938em;
 		}
 	}
.video-list li{
	margin: 20px;
}

